html, body {
    height: 100%;
}

body {
    margin: 0;
}

#content-root {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#counter-div {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    min-width: 200px;
    max-width: 500px;
    min-height: 300px;
    padding: 50px;
    border: 5px solid lightskyblue;
    border-radius: 30px;
    background-color: rgb(32, 32, 32);
}

#counter-text {
    font-size: 64pt;
    justify-self: center;
    align-self: center;
    text-align: center;
    flex: 90%;
    width: 100%;
}

#counter-buttons {
    display: flex;
    flex: 10%;
    width: 50%;
    min-width: 140px;
    align-self: center;
    justify-content: center;
}

#counter-button {
    flex: 50%;
    margin: 1px;
    min-width: 50px;
    text-align: center;
}

#counter-reset-button {
    flex: 50%;
    margin: 1px;
    min-width: 50px;
    text-align: center;
}